<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Mybrary</a>
    <ul>
      <li><a href="/brands">Brands</a></li>
      <li><a href="/brands/new">Add Brand</a></li>
      <li><a href="/tractors">Tractors</a></li>
      <li><a href="/tractors/new">Add Tractor</a></li>
    </ul>
  </nav>
</header>
