<h2 class="page-header">Search Tractor</h2>
<form action="/tractors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Tractor Model</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label>Produced After</label>
      <input
        type="date"
        name="producedAfter"
        value="<%= searchOptions.producedAfter %>"
      />
    </div>

    <div class="form-item">
      <label>Produced Before </label>
      <input
        type="date"
        name="producedBefore"
        value="<%= searchOptions.producedBefore %>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br />
<%- include('../partials/tractorGrid', {tractors: tractors, large: true}) %>
